body{
    box-sizing: border-box;
    margin: 0;
    background-color:  hsl(0, 0%, 94%);
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.dekstop-card{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    border: hsl(0, 0%, 100%);
}

.card-top{
    padding-bottom: 30px;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    position: relative;
}

.input-group__custom{
    margin: 15px 30px 15px 0px;
    width: 23%;
}

.input-group__label{
    font-size: 12px;
    color:  hsl(0, 1%, 44%);
    font-weight: 600;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}

.input-group__label--alert{
    font-size: 12px;
    color:  hsl(0, 100%, 67%);
    font-weight: 600;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}

.input-group__input{
    padding: 10px;
    font-size: 24px;
    font-weight: 800;
}

.input-group__input--alert{
    border-color: hsl(0, 100%, 67%);
}

.input-group__input:focus{
    box-shadow: none;
    border: 1px solid hsl(259, 100%, 65%);
}

.input-group__input::placeholder{
  color:  hsl(0, 1%, 44%);
}

.input-group__alert{
    font-size: 14px;
    color:  hsl(0, 100%, 67%);
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}

.card-arrow__container{
    position: absolute;
    bottom: -30px;
    right: 0px;
    padding: 20px;
    background-color: hsl(259, 100%, 65%);
    color: white;
    border-radius: 50px;
    transition: 0.3s all ease;
}

.card-arrow__container:hover{
    background-color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.card-bottom{
    margin-top: 20px;
}

.card-bottom__label{
    font-size: 62px;
    font-weight: 900;
    color: hsl(0, 0%, 8%);
    font-style: italic;
}

.card-bottom__value{
    font-size: 42px;
    color: hsl(259, 100%, 65%);
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
